* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

body {
    background: #f5fbff;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0ea5e9;
    padding: 15px 40px;
    color: white;
}

.logo {
    font-size: 20px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul li a:hover {
    color: #dbeafe;
}

.hero {
    height: 90vh;
    background: linear-gradient(to right, #38bdf8, #e0f2fe);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hero h1 {
    font-size: 36px;
}

.hero p {
    font-size: 18px;
}

section {
    padding: 50px;
}

.box {
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    margin-top: 10px;
    padding: 10px;
    background: #0ea5e9;
    color: white;
    border: none;
    border-radius: 8px;
}

footer {
    text-align: center;
    background: #0ea5e9;
    color: white;
    padding: 10px;
}
